/**
 * @file
 * Current Branch bar.
 */

.branch-name-wrap {
  clear: both;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica;
  color: #30121d;
  background: #bcbf77;
  padding: 10px 0;
  text-align: center;
  z-index: 999;
}
.branch-name-wrap.disactive {
  clear: both;
  width: 55px;
  font-size: 14px;
  font-family: Helvetica;
  background: none !important;
  padding: 2px;
  text-align: center;
  right: 0;
  border: 0px solid;
}
.branch-name-wrap span.name {
  /*color:#fff;*/
  font-weight: bold;
  text-transform: uppercase;
}
.branch-name-wrap.disactive span {
  display: none;
}
.branch-name-wrap a {
  float: right;
  font-weight: bold;
  color: #000000;
  font-size: 10px;
  line-height: 14px;
  margin: 0 2px 0 0;
  border: 1px solid #000000;
  background: #ffffff;
  width: 14px;
  height: 14px;
  text-decoration: none;
}
.branch-name-wrap a:hover {
  text-decoration: none;
  color: #690f0f;
  background: #c0c0c0;
}
.branch-name-wrap a:first-of-type {
  margin: 0 20px 0 0;
}
